# Copy file ni ke .env (tanpa .example) dan isi nilai sebenar.
# Dapatkan dari Supabase -> Settings -> API

VITE_SUPABASE_URL=https://uobueyudnehfrozzonnl.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvYnVleXVkbmVoZnJvenpvbm5sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MDQ5ODksImV4cCI6MjA5OTA4MDk4OX0.Wu8x2NBi3s1FnoldLawi0LKoerWh7FPC1vcx9IhebcA
